name: Build and lint

on:
    push:
        branches: ["**"]
    pull_request:
        branches: ["**"]

jobs:
    build:
        runs-on: ubuntu-latest

        steps:
            - uses: actions/checkout@v4
            - name: Setup Bun
              uses: oven-sh/setup-bun@v2
            - run: bun install --frozen-lockfile
            - run: bun run build
            - run: bun run lint

